<div class="ui segment">
    <h1 class="ui center aligned header">Star Trek Character Quiz</h1>
    <form id="inputForm" action="POST" class="ui form">
        
        <h4 class="ui horizontal divider header">
            About You
        </h4>

        <div class="required field">
            <label for="name">Name</label>
            <div class="ui fluid left icon input">
                <input type="text" name="name" id="name" placeholder="Name" required />
                <i class="user icon"></i>
            </div>
        </div>

        <div class="required field">
            <label for="img">Image Url</label>
            <div class="ui fluid left icon input">
                <input type="text" name="img" id="img" placeholder="Image Url" required />
                <i class="image icon"></i>
            </div>
        </div>

        <h4 class="ui horizontal divider header">
            Personality Questions
        </h4>

        {{#each questions}}
            <div class="required field survey-question" data-id="{{id}}">
                <label for="{{id}}">{{num}}. {{question}}</label>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="{{id}}" id="{{id}}" required />
                    <i class="dropdown icon"></i>
                    <div class="default text">Select an Option</div>
                    <div class="menu">
                        <div class="item" data-value="1">1 (Strongly Disagree)</div>
                        <div class="item" data-value="2">2</div>
                        <div class="item" data-value="3">3</div>
                        <div class="item" data-value="4">4</div>
                        <div class="item" data-value="5">5 (Strongly Agree)</div>
                    </div>
                </div>
            </div>
        {{/each}}

        
        <input class="fluid ui button" type="submit" id="submit"></input>

    </form>

</div>